.appBarSearch {
    border-radius: 4px;
    margin-bottom: 1rem;
    display: flex;
    padding: 16px;
  }
  
  .pagination {
    border-radius: 4px;
    margin-top: 1rem;
    padding: 16px;
  }
  
  .gridContainer {
    display: flex; /* Add this line to ensure flex-direction works */
  }
  
  @media (max-width: 600px) { /* Assuming 'xs' corresponds to 600px */
    .gridContainer {
      flex-direction: column-reverse;
    }
  }
  